@import "../abstracts/variables";

body {
  width: clamp(288px, calc(100% - ($spacing-small*2)), 540px);
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  padding-bottom: $spacing-small;
  margin-left: auto;
  margin-right: auto;
}