@import "../abstracts/variables";

header {
  padding-top: 133px;
  padding-bottom: 31px;
}

body {
  width: clamp(343px, 540px, 540px);
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  padding-bottom: $spacing-small;
  margin-left: auto;
  margin-right: auto;
}

.medium-spacer {
  height: $spacing-medium;
  width: 100%;
}