$color-almost-white: #E6E5EA;
$color-grey: #817D92;
$color-dark-grey: #24232c;
$color-very-dark-grey: #18171F;
$color-neon-green: #A4FFAf;
$color-red: #F64A4A;
$color-orange: #FB7C58;
$color-yellow: #F8CD65;

$padding-vertical: 19px;
$padding-horizontal: 32px;