@import "../abstracts/variables";
@import "../abstracts/mixins";

$checkbox-size: 20px;

.custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-checkbox label {
  margin-left: $spacing-medium;
  flex-grow: 1;
}

@media(max-width: $mobile-transition) {
  .custom-checkbox label {
    margin-left: $spacing-small;
  }
}

.custom-checkbox input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: $checkbox-size;
  width: $checkbox-size;
  cursor: pointer;
  background: transparent;
  border: $border-thickness solid $color-almost-white;
  border-radius: 0;
  margin: 0;
}

.custom-checkbox input[type=checkbox]:focus {
  @include focus-outline($border-thickness, $color-neon-green);
}

.custom-checkbox input[type=checkbox]:checked {
  background-image: url('/images/icon-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-neon-green;
  border: none;
}