@import "../abstracts/variables";

$icon-size: calc($font-size-body * 0.7);

.icon-button {
  --icon-path: url('/images/empty.svg');
}

.icon-button button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $spacing-small-medium 0;
  background-color: $color-neon-green;
  border: none;
  cursor: pointer;
}

.icon-button div {
  color: $color-dark-grey;
}

.icon-button button .icon-box {
  background-color: $color-dark-grey;
  -webkit-mask-size: $icon-size;
  mask-size: $icon-size ;
  width: $icon-size;
  height: $icon-size;
  -webkit-mask-image: var(--icon-path);
  mask-image: var(--icon-path);
  -webkit-mask-repeat: no-repeat; /* Prevent mask image from repeating (WebKit browsers) */
  mask-repeat: no-repeat; /* Prevent mask image from repeating */
  -webkit-mask-position: center;
  mask-position: center;
  margin-left: $spacing-medium;
}

@media(max-width: $mobile-transition) {
  .icon-button button .icon-box {
    margin-left: $spacing-small;
  }
}

@media(hover: hover) {
  .icon-button button:hover {
    background: transparent;
    border: $border-thickness solid $color-neon-green;
  }

  .icon-button button:hover div {
    color: $color-neon-green;
  }

  .icon-button button:hover .icon-box {
    background-color: $color-neon-green; /* Background color of the element */
  }
}

@media(hover: none) {
  .icon-button button {
    cursor: none;
  }

  .icon-button .touched {
    background: transparent;
    border: $border-thickness solid $color-neon-green;
  }

  .icon-button .touched div {
    color: $color-neon-green;
  }

  .icon-button .touched .icon-box {
    background-color: $color-neon-green; /* Background color of the element */
  }
}