@import "../abstracts/variables";

$min-header-padding-top: 64px;

.password-generator header {
  padding-top: 133px;
  padding-bottom: $spacing-large;
}

@media(max-height: $mobile-vertical-transition) {
  .password-generator header {
    padding-top: $min-header-padding-top;
    padding-bottom: $spacing-small;
  }
}

@media(max-width: $mobile-transition) {
  .password-generator header {
    padding-top: $min-header-padding-top;
    padding-bottom: $spacing-small;
  }
}

.password-generator header h2 {
  text-align: center;
}