@import "../abstracts/variables";
@import "../abstracts/mixins";

.password-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $spacing-small-medium $spacing-large;
  cursor: pointer;
}

.password-field img {
  cursor: pointer;
}

.password-field h1 {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.password-field .not-copied {
  margin-left: $spacing-large;
}

.password-field .copied {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
  color: $color-neon-green;
}

.password-field .empty {
  color: $color-almost-white;
  opacity: 25%;
}

.password-field .filled {
  color: $color-almost-white;
}

.password-field .focus-button {
  background: transparent;
  border: 0;
}

.password-field .focus-button:not(.button-touched):focus {
  @include focus-outline($border-thickness, $color-neon-green);
}

@media(hover: hover) {
  .password-field:hover img {
    filter: brightness(0) invert(1);
  }

  .password-field:hover .copied {
    color: white;
  }
}

@media(hover: none) {
  .password-field {
    cursor: none;
  }

  .password-field.touched img {
    filter: brightness(0) invert(1);
  }

  .password-field.touched .copied{
    color: white;
  }
}

@media(max-width: $mobile-transition) {
  .password-field {
    padding: $spacing-small-medium $spacing-small;
  }
}