@import "../abstracts/variables";

.password-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $spacing-small $spacing-large
}

.password-field h1 {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.password-field .not-copied {
  margin-left: $spacing-large;
}

.password-field .copied {
  margin-left: $spacing-small;
  margin-right: $spacing-small;
  color: $color-neon-green;
}

.password-field .empty {
  color: $color-almost-white;
  opacity: 25%;
}

.password-field .filled {
  color: $color-almost-white;
}

.password-field:hover {
  cursor: pointer;
}

.password-field:hover img {
  filter: brightness(0) invert(1);
}

.password-field:hover .copied {
  color: white;
}