@import "../abstracts/variables";

.spacer {
  width: 100%;
}

.spacer.small {
  display: block;
  height: $spacing-small;
}

.spacer.mobile.small {
  display: none;
}

.spacer.medium {
  display: block;
  height: $spacing-medium;
}

.spacer.mobile.medium {
  display: none;
}

.spacer.large {
  display: block;
  height: $spacing-large;
}

.spacer.mobile.large {
  display: none;
}

// Mobile spacers are hidden when the screen is big enough and the primary spacer is hidden if the mobile spacer is shown
@media(max-width: $mobile-transition) {
  .spacer.small {
    display: none;
  }

  .spacer.mobile.small {
    display: block;
    height: $spacing-small;
  }

  .spacer.medium {
    display: none;
  }

  .spacer.mobile.medium {
    display: block;
    height: $spacing-medium;
  }

  .spacer.large {
    display: none;
  }

  .spacer.mobile.large {
    display: block;
    height: $spacing-large;
  }
}