@import "../abstracts/variables";

@mixin define-block($block-color: null) {
  @if $block-color == null {
    border: $border-thickness solid $color-almost-white ;
    background: transparent;
  } @else {
    border: $border-thickness solid $block-color;
    background-color: $block-color;
  }
  height: $font-size-heading-medium;
  width: clamp(4px, 6px, 6px);
  margin-left: $spacing-xsmall;
}

.strength-state {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $spacing-medium;
}

@media(max-width: $mobile-transition) {
  .strength-state {
    padding: $spacing-small;
  }
}

.strength-state .strength {
  color: $color-grey;
  margin-right: $spacing-xsmall;
}

.strength-state h2 {
  margin-left: $spacing-xsmall;
  margin-right: $spacing-xsmall;
  flex-grow: 1;
  width: 100%;
  text-align: right;
}

.strength-state .green-block {
  @include define-block($color-neon-green);
}

.strength-state .yellow-block {
  @include define-block($color-yellow);
}

.strength-state .orange-block {
  @include define-block($color-orange);
}

.strength-state .red-block {
  @include define-block($color-red);
}

.strength-state .outline-block {
  @include define-block();
}

