@import "../variables";

.background {
  background-color: $color-dark-grey;
  line-height: 43px;
  padding: $padding-vertical $padding-horizontal;
}

.centered {
  display: flex;
  align-items: center;
}

.marginLeft {
  margin-left: $padding-horizontal;
}

.tempDisabled {
  color: $color-almost-white;
  opacity: 0.25;
}