@import "../abstracts/variables";

.text-grey {
  color: $color-grey;
}

.background-dark {
  background-color: $color-very-dark-grey;
}

.background-standard {
  background-color: $color-dark-grey;
}