@import "../abstracts/variables";

@font-face {
  font-family: 'JetBrainsMono-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/static/JetBrainsMono-Bold.ttf') format('truetype');
}

$font-family: JetBrainsMono-Bold;

h1, h2, body, div {
  font-family: $font-family;
  color: $color-almost-white;
}

h1 {
  font-size: $font-size-heading-large;
  line-height: $font-line-height-heading-large;
}

h2 {
  font-size: $font-size-heading-medium;
  line-height: $font-line-height-heading-medium;
}

body, div {
  font-size: $font-size-body;
  line-height: $font-line-height-body;
}

@media(max-width: $mobile-transition) {
  h1 {
    font-size: $font-size-heading-medium;
    line-height: $font-line-height-heading-medium;
  }

  h2 {
    font-size: $font-size-body;
    line-height: $font-line-height-body;
  }

  body, div {
    font-size: 1rem;
    line-height: 110%;
  }
}