@import "../abstracts/variables";

@font-face {
  font-family: 'JetBrainsMono-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/static/JetBrainsMono-Bold.ttf') format('truetype');
}

$font-family: JetBrainsMono-Bold;

h1, h2, body, button {
  font-family: $font-family;
  color: $color-almost-white;
}

h1 {
  font-size: 32px;
  line-height: 43px;
}

h2 {
  font-size: 24px;
  line-height: 31px;
}

body, button {
  font-size: 18px;
  line-height: 23px;
}

header h2 {
  text-align: center;
}